extends layout

block content
    link(rel="stylesheet", href="/static/swiper-bundle.min.css")
    link(rel="stylesheet", href="/static/swiper-bundle.min.css.map")
    link(rel="stylesheet", href="/static/card.css")

    div(class="relative bg-[url('/static/img/hero.jpg')] bg-cover before-content-['*'] before:bg-black/60 before:absolute before:inset-0 min-h-[100vh] flex justify-center items-center")
        div(class="z-10 text-center bg-white/20 p-8 border rounded-lg animate-pulse")
            h1(class="text-6xl text-white font-bold ") Société Marocaine De Santé Digitale
            h2(class="text-2xl text-white ") La santé numérique au service de la société

    div.flex.flex-col.items-center.justify-center.gap-10.py-20
        h3.carousel des activités de la société
    // adjust the number of slides per view and space between slides
    div.swiper-container
        div.swiper-wrapper
            each act in acts
                div.swiper-slide
                    .card
                        img(src=act.imgurl, alt=act.title)
                        .card-body
                            h3.card-title=act.title
                            p.card-text=act.description
                            a(href=act.link) Lire plus

        include includes/partenariats.pug

    script(src="/static/swiper-bundle.min.js")
    script.
        var swiper = new Swiper(".swiper-container", {
            slidesPerView: 3,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },

            breakpoints: {
                640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            scrollbar: {
                el: ".swiper-scrollbar",
                hide: true,
            },


            
        });

    
